server:
  port: 8761
spring:
  application:
    name: EurekaServer
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: false
    fetch-registry: false

